/* body {
  padding: 10vw;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20vw;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 57.6px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 45vw;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25vw;
}

h4 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 0.625rem;
}

.xp-card {
  padding: 1rem 0;
  font-size: .625rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  position: relative;
}

h5 {
  font-weight: 400;
  font-size: .75rem;
}

.xp-card span {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #111111;
  width: 1.5rem;
}

.card {
  font-size: .625rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

a {
  text-decoration-color: #111111;
  color: #111111;
} */

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

h1 {
  border-bottom: 1px solid #111111;
  text-align: center;
  padding: 2rem;
}

.box {
  border: 1px solid #111111;
  flex: 1;
  padding: 2rem;
}